<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="shop/index :: head(title = 'Shop')">
</head>
<body>

<th:block th:replace="shop/index :: header"/>

<main class="container">
    <div class="p-4 p-md-5 mb-4 text-white rounded bg-dark">
        <div class="col-md-6 px-0">
            <h1 class="display-4 fst-italic">Shop</h1>
            <p class="lead my-3">Zadowolenie naszych klientów jest dla nas najważniejsze!</p>
            <p class="lead mb-0"><a th:href="@{/shop/more}" class="text-white fw-bold">Dowiedz się jak powstają nasze
                produkty...</a></p>
        </div>
    </div>

    <th:block th:replace="shop/index :: offer"/>

    <div class="about">
        <div >


            <article >
                <h2 >Poznaj nas!</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Et accusamus dolorem commodi soluta illo, id animi ullam repellat aperiam veniam!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Et accusamus dolorem commodi soluta illo, id animi ullam repellat aperiam veniam!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Et accusamus dolorem commodi soluta illo, id animi ullam repellat aperiam veniam!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Et accusamus dolorem commodi soluta illo, id animi ullam repellat aperiam veniam!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Et accusamus dolorem commodi soluta illo, id animi ullam repellat aperiam veniam!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Et accusamus dolorem commodi soluta illo, id animi ullam repellat aperiam veniam!
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Et accusamus dolorem commodi soluta illo, id animi ullam repellat aperiam veniam!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Et accusamus dolorem commodi soluta illo, id animi ullam repellat aperiam veniam!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Et accusamus dolorem commodi soluta illo, id animi ullam repellat aperiam veniam!
                </p>

            </article>

        </div>

    </div>

</main>

<footer th:replace="shop/index :: footer" class="blog-footer"></footer>


</body>
</html>
