<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="shop/index :: head(title = 'Shop')">
</head>
<body>
<th:block th:replace="shop/index :: header" />

<main class="container">

    <div class="row mb-2">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">
        </div>
    </div>

    <div class="row g-5">
        <div class="col-md-8">



            <article class="blog-post">
                <h3 th:text="${product.name}"></h3>
                <h4 th:text="${product.price}"></h4>

                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Et accusamus dolorem commodi soluta illo, id animi ullam repellat aperiam veniam!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Et accusamus dolorem commodi soluta illo, id animi ullam repellat aperiam veniam!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Et accusamus dolorem commodi soluta illo, id animi ullam repellat aperiam veniam!
                </p>


            </article>


<!--            <nav class="blog-pagination" aria-label="Pagination">-->
<!--                <a class="btn btn-outline-primary" href="#">Older</a>-->
<!--                <a class="btn btn-outline-secondary disabled">Newer</a>-->
<!--            </nav>-->

        </div>

        <div th:replace="shop/index :: about" class="col-md-4"/>
    </div>

</main>


<footer th:replace="shop/index :: footer" class="blog-footer"></footer>


</body>
</html>